#img_home{
	height: 100%;
	/*border: 1px solid black;*/
	display: block;
	overflow: scroll;
	position: relative;
	/*resize: both;*/
	
}
.sidebar{
	height: 100%;
}
#actualData, #alteredData{
	width: 100%;
}
#facedata{
	height: 80%;
}
#canvas{
	position: absolute;
}
#img{
	position: absolute;
	top: 0px;
	left: 0px;
}
#img_overlay{
	position: absolute;
	z-index: 1;
}
.ptn{
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #ff0000;
}
.clear{
	clear:both;
}

#h_line, #v_line, #tooltip-span {
	display:none;
    position:absolute;
    overflow:hidden;
}

#tooltip-span {
    background-color: black;
    color: white;
}

#h_line{
	border: 1px solid yellow;
    width: 100%;
}

#v_line {
	border: 1px solid red;
 	height: 100%;
}
/*body{ background-color: #2c3e50;  }*/
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
.facebox {
	position: absolute;
    border: 2px solid #12BDDC;
    border-color: rgba(18,189,220,0.8);
    border-radius: 10px;
}
#ptnDtl, #boxDtl{
	display: none;
}
.selected{
	background-color: rgba(18,189,220,0.3)
}

